{"openapi":"3.1.0","info":{"title":"coinglass","version":"3.0"},"servers":[{"url":"https://open-api-v4.coinglass.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"CG-API-KEY"}}},"security":[{"sec0":[]}],"paths":{"/api/futures/supported-coins":{"get":{"summary":"Supported Coins","description":"Check the supported coins in this API documentation","operationId":"coins","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n      \"BTC\",\n      \"ETH\",\n      \"SOL\",\n      \"XRP\",\n      ...\n  ]\n}"}}}}},"400":{"description":"400","content":{}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    \"BTC\",\n    \"ETH\",\n    \"SOL\",\n    \"XRP\",\n    \"BNB\",\n    \"DOGE\",\n    \"1000PEPE\",\n    \"1000BONK\",\n    \"BCH\",\n    \"DOT\",\n    \"LTC\"...."}],"samples-languages":["text"]},"parameters":[],"security":[{"sec0":[]}]}},"/api/futures/supported-exchange-pairs":{"get":{"summary":"Suported Exchange and Pairs","description":"Check the supported exchange and trading pairs in the API documentation","operationId":"instruments","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": {\n    \"Binance\": [ // exchange name\n      {\n        \"instrument_id\": \"BTCUSD_PERP\",// futures pair\n        \"base_asset\": \"BTC\",// base asset\n        \"quote_asset\": \"USD\"// quote asset\n      },\n      {\n        \"instrument_id\": \"BTCUSD_250627\",\n        \"base_asset\": \"BTC\",\n        \"quote_asset\": \"USD\"\n      },\n      ....\n      ],\n    \"Bitget\": [\n      {\n        \"instrument_id\": \"BTCUSDT_UMCBL\",\n        \"base_asset\": \"BTC\",\n        \"quote_asset\": \"USDT\"\n      },\n      {\n        \"instrument_id\": \"ETHUSDT_UMCBL\",\n        \"base_asset\": \"ETH\",\n        \"quote_asset\": \"USDT\"\n      },\n      ...\n      ]\n      ...\n   }\n}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": {\n    \"Binance\": [\n      {\n        \"instrumentId\": \"BTCUSD_PERP\",\n        \"baseAsset\": \"BTC\",\n        \"quoteAsset\": \"USD\"\n      },\n      {\n        \"instrumentId\": \"BTCUSD_240927\",\n        \"baseAsset\": \"BTC\",\n        \"quoteAsset\": \"USD\"\n      }..."}],"samples-languages":["text"]},"parameters":[{"in":"query","name":"exchange","schema":{"type":"string"},"description":"Filters the results to return only trading pairs from the specified exchange."}]}},"/api/futures/liquidation/coin-list":{"get":{"summary":"Liquidation Coin List","description":"This API retrieves liquidation data for all coins on the exchange","operationId":"liquidation-coin-list","parameters":[{"name":"exchange","in":"query","required":true,"description":"Futures exchange names (e.g., Binance, OKX) .Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"symbol\": \"BTC\", // Token symbol\n      \"liquidation_usd_24h\": 82280481.50425325, // Total liquidation amount in the past 24 hours (USD)\n      \"long_liquidation_usd_24h\": 68437447.33734027, // Long position liquidation in the past 24 hours (USD)\n      \"short_liquidation_usd_24h\": 13843034.16691298, // Short position liquidation in the past 24 hours (USD)\n\n      \"liquidation_usd_12h\": 68331844.36224127, // Total liquidation in the past 12 hours\n      \"long_liquidation_usd_12h\": 66614158.47451427, // Long liquidation (12h)\n      \"short_liquidation_usd_12h\": 1717685.887727, // Short liquidation (12h)\n\n      \"liquidation_usd_4h\": 11381137.080643, // Total liquidation in the past 4 hours\n      \"long_liquidation_usd_4h\": 10921633.272973, // Long liquidation (4h)\n      \"short_liquidation_usd_4h\": 459503.80767, // Short liquidation (4h)\n\n      \"liquidation_usd_1h\": 3283635.95309, // Total liquidation in the past 1 hour\n      \"long_liquidation_usd_1h\": 3182915.16289, // Long liquidation (1h)\n      \"short_liquidation_usd_1h\": 100720.7902 // Short liquidation (1h)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/liquidation/exchange-list":{"get":{"summary":"Liquidation Exchange List","description":"This API retrieves liquidation data for coins across all exchanges","operationId":"liquidation-exchange-list","parameters":[{"name":"symbol","in":"query","required":false,"description":"Trading coin (e.g., BTC).  Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"range","in":"query","required":true,"description":"Time range for data aggregation.  Supported values: 1h, 4h, 12h, 24h.","schema":{"type":"string","default":"1h"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"exchange\": \"All\", // Total data from all exchanges\n      \"liquidation_usd\": 14673519.81739075, // Total liquidation amount (USD)\n      \"long_liquidation_usd\": 451394.17404598, // Long position liquidation amount (USD)\n      \"short_liquidation_usd\": 14222125.64334477 // Short position liquidation amount (USD)\n    },\n    {\n      \"exchange\": \"Bybit\", // Exchange name\n      \"liquidation_usd\": 4585290.13404, // Total liquidation amount (USD)\n      \"long_liquidation_usd\": 104560.13885, // Long position liquidation (USD)\n      \"short_liquidation_usd\": 4480729.99519 // Short position liquidation (USD)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/liquidation/order":{"get":{"summary":"Liquidation Order","description":"This API retrieves liquidation orders within the past 7 days, including details about the specific exchange, trading pairs, and liquidation amounts","operationId":"liquidation-order","parameters":[{"name":"exchange","in":"query","required":true,"description":"Exchange name (e.g., Binance, OKX). Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC). Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"min_liquidation_amount","in":"query","required":true,"description":"Minimum threshold for liquidation events.  Max 200 records per request.","schema":{"type":"string","default":"10000"}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"exchange_name\": \"BINANCE\", // Exchange name\n      \"symbol\": \"BTCUSDT\", // Trading pair symbol\n      \"base_asset\": \"BTC\", // Base asset\n      \"price\": 87535.9, // Liquidation price\n      \"usd_value\": 205534.2932, // Transaction amount (USD)\n      \"side\": 2, // Order direction (1: Buy, 2: Sell)\n      \"time\": 1745216319263 // Timestamp\n    },\n    {\n      \"exchange_name\": \"BINANCE\", // Exchange name\n      \"symbol\": \"BTCUSDT\", // Trading pair symbol\n      \"base_asset\": \"BTC\", // Base asset\n      \"price\": 87465.2, // Liquidation price\n      \"usd_value\": 15918.6664, // Transaction amount (USD)\n      \"side\": 2, // Order direction (1: Buy, 2: Sell)\n      \"time\": 1745215647165 // Timestamp\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/liquidation/map":{"get":{"summary":"Liquidation Map","description":"This API presents and maps liquidation events based on market data and diverse leverage amounts","operationId":"liquidation-map","parameters":[{"name":"exchange","in":"query","required":true,"description":"Exchange name (e.g., Binance). Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","required":true,"description":"Trading pair (e.g., BTCUSDT). Retrieve supported pairs via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"BTCUSDT"}},{"name":"range","in":"query","required":true,"description":"Time range for data aggregation. Supported values: 1d, 7d.","schema":{"type":"string","default":"1d"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/aggregatedTakerBuySellVolumeRatio/history":{"get":{"summary":"Aggregated Taker Buy/Sell History","description":"This API retrieves historical data for the long/short ratio of aggregated taker buy/sell volumes.","operationId":"aggregated-taker-buysell-volume-ratio","parameters":[{"name":"exchange","in":"query","description":"Exchange name  eg. Binance ，OKX （ Check supported exchanges through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","description":"Trading pair eg. BTCUSDT   （ Check supported pair through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","description":"1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","required":true,"schema":{"type":"string","default":"h1"}},{"name":"limit","in":"query","description":"Default 1000, Max 4500","schema":{"type":"integer","format":"int32","default":500}},{"name":"startTime","in":"query","description":"in seconds  eg.1641522717","schema":{"type":"integer","format":"int64","default":1706089927315}},{"name":"endTime","in":"query","description":"in seconds  eg.1641522717","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/hyperliquid/whale-position":{"get":{"summary":"Hyperliquid Whale Position","description":"This API retrieves whale positions on Hyperliquid with a value over $1M.","operationId":"hyperliquid-whale-position","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"user\": \"0x20c2d95a3dfdca9e9ad12794d5fa6fad99da44f5\", // User address\n      \"symbol\": \"ETH\",                                   // Token symbol\n      \"position_size\": -44727.1273,                      // Position size (positive: long, negative: short)\n      \"entry_price\": 2249.7,                             // Entry price\n      \"mark_price\": 1645.8,                              // Current mark price\n      \"liq_price\": 2358.2766,                            // Liquidation price\n      \"leverage\": 25,                                    // Leverage\n      \"margin_balance\": 2943581.7019,                    // Margin balance (USD)\n      \"position_value_usd\": 73589542.5467,               // Position value (USD)\n      \"unrealized_pnl\": 27033236.424,                    // Unrealized PnL (USD)\n      \"funding_fee\": -3107520.7373,                      // Funding fee (USD)\n      \"margin_mode\": \"cross\",                            // Margin mode (e.g., cross / isolated)\n      \"create_time\": 1741680802000,                      // Entry time (timestamp in ms)\n      \"update_time\": 1745219966000                       // Last updated time (timestamp in ms)\n    },\n    {\n      \"user\": \"0xf967239debef10dbc78e9bbbb2d8a16b72a614eb\",\n      \"symbol\": \"BTC\",\n      \"position_size\": -800,\n      \"entry_price\": 84931.3,\n      \"mark_price\": 87427,\n      \"liq_price\": 92263.798,\n      \"leverage\": 15,\n      \"margin_balance\": 4812076.3896,\n      \"position_value_usd\": 69921600,\n      \"unrealized_pnl\": -1976493.6819,\n      \"funding_fee\": 14390.0346,\n      \"margin_mode\": \"isolated\",\n      \"create_time\": 1743982804000,\n      \"update_time\": 1745219969000\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/hyperliquid/whale-alert":{"get":{"summary":"Hyperliquid Whale Alert","description":"This API retrieves real-time whale alerts on Hyperliquid, and position value over $1M.","operationId":"hyperliquid-whale-alert","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"user\": \"0x3fd4444154242720c0d0c61c74a240d90c127d33\", // User address\n      \"symbol\": \"ETH\",                                     // Symbol\n      \"position_size\": 12700,                              // Position size (positive: long, negative: short)\n      \"entry_price\": 1611.62,                              // Entry price\n      \"liq_price\": 527.2521,                               // Liquidation price\n      \"position_value_usd\": 21003260,                      // Position value (USD)\n      \"position_action\": 2,                                // Position action type (1: open, 2: close)\n      \"create_time\": 1745219517000                         // Entry time (timestamp in milliseconds)\n    },\n    {\n      \"user\": \"0x1cadadf0e884ac5527ae596a4fc1017a4ffd4e2c\",\n      \"symbol\": \"BTC\",\n      \"position_size\": 33.54032,\n      \"entry_price\": 87486.2,\n      \"liq_price\": 44836.8126,\n      \"position_value_usd\": 2936421.4757,\n      \"position_action\": 2,\n      \"create_time\": 1745219477000\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/coins-markets":{"get":{"summary":"Coins Markets","description":"This API retrieves performance-related information for all available coins","operationId":"coins-markets","parameters":[{"name":"exchange_list","in":"query","required":false,"description":"Comma-separated exchange names (e.g., \"binance, okx, bybit\"). Retrieve supported exchanges via the 'supported-exchange-pairs' API.","schema":{"type":"string","default":"Binance,OKX"}},{"name":"per_page","in":"query","required":false,"description":"Number of results per page.","schema":{"type":"integer","format":"int32","default":"10"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination, default: 1.","schema":{"type":"integer","format":"int32","default":"1"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""},"New Example":{"summary":"New Example","value":"{\n  \"code\": \"0\",  \n  \"msg\": \"success\",  \n  \"data\": [\n    {\n      \"symbol\": \"BTC\",  // Cryptocurrency symbol\n      \"current_price\": 84773.6,  // Current price (in USD)\n      \"avg_funding_rate_by_oi\": 0.00196,  // Average funding rate weighted by open interest\n      \"avg_funding_rate_by_vol\": 0.002647,  // Average funding rate weighted by volume\n      \"market_cap_usd\": 1683310500117.051,  // Market capitalization (in USD)\n      \"open_interest_market_cap_ratio\": 0.0327,  // Ratio of open interest to market capitalization\n      \"open_interest_usd\": 55002072334.9376,  // Open interest (in USD)\n      \"open_interest_quantity\": 648525.0328,  // Open interest quantity (number of contracts)\n      \"open_interest_volume_ratio\": 0.7936,  // Ratio of open interest to volume\n      \"price_change_percent_5m\": -0.02,  // Price change percentage in the last 5 minutes\n      \"price_change_percent_15m\": 0.06,  // Price change percentage in the last 15 minutes\n      \"price_change_percent_30m\": 0.03,  // Price change percentage in the last 30 minutes\n      \"price_change_percent_1h\": -0.1,  // Price change percentage in the last 1 hour\n      \"price_change_percent_4h\": -0.15,  // Price change percentage in the last 4 hours\n      \"price_change_percent_12h\": 0.15,  // Price change percentage in the last 12 hours\n      \"price_change_percent_24h\": 1.06,  // Price change percentage in the last 24 hours\n      \"open_interest_change_percent_5m\": 0,  // Open interest change percentage in the last 5 minutes\n      \"open_interest_change_percent_15m\": 0.04,  // Open interest change percentage in the last 15 minutes\n      \"open_interest_change_percent_30m\": 0,  // Open interest change percentage in the last 30 minutes\n      \"open_interest_change_percent_1h\": -0.01,  // Open interest change percentage in the last 1 hour\n      \"open_interest_change_percent_4h\": 0.17,  // Open interest change percentage in the last 4 hours\n      \"open_interest_change_percent_24h\": 4.58,  // Open interest change percentage in the last 24 hours\n      \"volume_change_percent_5m\": -0.03,  // Volume change percentage in the last 5 minutes\n      \"volume_change_percent_15m\": -0.73,  // Volume change percentage in the last 15 minutes\n      \"volume_change_percent_30m\": -1.13,  // Volume change percentage in the last 30 minutes\n      \"volume_change_percent_1h\": -2.33,  // Volume change percentage in the last 1 hour\n      \"volume_change_percent_4h\": -5.83,  // Volume change percentage in the last 4 hours\n      \"volume_change_percent_24h\": -26.38,  // Volume change percentage in the last 24 hours\n      \"volume_change_usd_1h\": 69310404660.3795,  // Volume change in USD in the last 1 hour\n      \"volume_change_usd_4h\": -4290959532.4414644,  // Volume change in USD in the last 4 hours\n      \"volume_change_usd_24h\": -24835757605.82467,  // Volume change in USD in the last 24 hours\n      \"long_short_ratio_5m\": 1.2523,  // Long/short ratio in the last 5 minutes\n      \"long_short_ratio_15m\": 0.9928,  // Long/short ratio in the last 15 minutes\n      \"long_short_ratio_30m\": 1.0695,  // Long/short ratio in the last 30 minutes\n      \"long_short_ratio_1h\": 1.0068,  // Long/short ratio in the last 1 hour\n      \"long_short_ratio_4h\": 1.0504,  // Long/short ratio in the last 4 hours\n      \"long_short_ratio_12h\": 1.0317,  // Long/short ratio in the last 12 hours\n      \"long_short_ratio_24h\": 1.0313,  // Long/short ratio in the last 24 hours\n      \"liquidation_usd_1h\": 33621.85192,  // Total liquidation amount in USD in the last 1 hour\n      \"long_liquidation_usd_1h\": 22178.4681,  // Long liquidation amount in USD in the last 1 hour\n      \"short_liquidation_usd_1h\": 11443.38382,  // Short liquidation amount in USD in the last 1 hour\n      \"liquidation_usd_4h\": 222210.47117,  // Total liquidation amount in USD in the last 4 hours\n      \"long_liquidation_usd_4h\": 179415.77249,  // Long liquidation amount in USD in the last 4 hours\n      \"short_liquidation_usd_4h\": 42794.69868,  // Short liquidation amount in USD in the last 4 hours\n      \"liquidation_usd_12h\": 11895453.392145,  // Total liquidation amount in USD in the last 12 hours\n      \"long_liquidation_usd_12h\": 10223351.23772,  // Long liquidation amount in USD in the last 12 hours\n      \"short_liquidation_usd_12h\": 1672102.154425,  // Short liquidation amount in USD in the last 12 hours\n      \"liquidation_usd_24h\": 27519292.973646,  // Total liquidation amount in USD in the last 24 hours\n      \"long_liquidation_usd_24h\": 17793322.595016,  // Long liquidation amount in USD in the last 24 hours\n      \"short_liquidation_usd_24h\": 9725970.37863  // Short liquidation amount in USD in the last 24 hours\n    },\n    {\n      \"symbol\": \"ETH\",  // Cryptocurrency symbol\n      \"current_price\": 1582.55,  // Current price (in USD)\n      \"avg_funding_rate_by_oi\": 0.001631,  // Average funding rate weighted by open interest\n      \"avg_funding_rate_by_vol\": -0.000601,  // Average funding rate weighted by volume\n      \"market_cap_usd\": 190821695398.62064,  // Market capitalization (in USD)\n      \"open_interest_market_cap_ratio\": 0.0925,  // Ratio of open interest to market capitalization\n      \"open_interest_usd\": 17657693967.0459,  // Open interest (in USD)\n      \"open_interest_quantity\": 11160428.5065,  // Open interest quantity (number of contracts)\n      \"open_interest_volume_ratio\": 0.5398,  // Ratio of open interest to volume\n      \"price_change_percent_5m\": 0.07,  // Price change percentage in the last 5 minutes\n      \"price_change_percent_15m\": 0.25,  // Price change percentage in the last 15 minutes\n      \"price_change_percent_30m\": 0.07,  // Price change percentage in the last 30 minutes\n      \"price_change_percent_1h\": -0.11,  // Price change percentage in the last 1 hour\n      \"price_change_percent_4h\": -0.05,  // Price change percentage in the last 4 hours\n      \"price_change_percent_12h\": -0.02,  // Price change percentage in the last 12 hours\n      \"price_change_percent_24h\": 0.16  // Price change percentage in the last 24 hours\n      // ... subsequent fields follow in a similar manner\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[{"sec0":[]}]}},"/api/futures/pairs-markets":{"get":{"summary":"Pairs Markets","description":"This API retrieves performance-related information for all available coins","operationId":"pairs-markets","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC).Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""},"Success":{"summary":"Success","value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"instrument_id\": \"BTCUSDT\", // Futures trading pair\n      \"exchange_name\": \"Binance\", // Exchange name\n      \"symbol\": \"BTC/USDT\", // Trading pair symbol\n\n      \"current_price\": 84604.3, // Current price\n      \"index_price\": 84646.66222222, // Index price\n      \"price_change_percent_24h\": 0.67, // 24h price change (%)\n\n      \"volume_usd\": 11317580109.5041, // 24h trading volume (USD)\n      \"volume_usd_change_percent_24h\": -32.13, // 24h volume change (%)\n\n      \"long_volume_usd\": 5800829746.047, // Long trade volume (USD)\n      \"short_volume_usd\": 5516750363.4571, // Short trade volume (USD)\n      \"long_volume_quantity\": 1130850, // Number of long trades\n      \"short_volume_quantity\": 1162710, // Number of short trades\n\n      \"open_interest_quantity\": 77881.234, // Open interest quantity (contracts)\n      \"open_interest_usd\": 6589095073.8296, // Open interest value (USD)\n      \"open_interest_change_percent_24h\": 1.9, // 24h open interest change (%)\n\n      \"long_liquidation_usd_24h\": 3654182.12, // Long liquidations in past 24h (USD)\n      \"short_liquidation_usd_24h\": 4099047.79, // Short liquidations in past 24h (USD)\n\n      \"funding_rate\": 0.002007, // Current funding rate\n      \"next_funding_time\": 1744963200000, // Next funding time (timestamp)\n\n      \"open_interest_volume_radio\": 0.5822, // Open interest to volume ratio\n      \"oi_vol_ratio_change_percent_24h\": 50.13 // 24h ratio change (%)\n    },\n    {\n      \"instrument_id\": \"BTC_USDT\", // Futures trading pair\n      \"exchange_name\": \"Gate.io\", // Exchange name\n      \"symbol\": \"BTC/USDT\", // Trading pair symbol\n\n      \"current_price\": 84616.3, // Current price\n      \"index_price\": 84643.36, // Index price\n      \"price_change_percent_24h\": 0.69, // 24h price change (%)\n\n      \"volume_usd\": 1711484049.255, // 24h trading volume (USD)\n      \"volume_usd_change_percent_24h\": -67.03, // 24h volume change (%)\n\n      \"long_volume_usd\": 870432407.5966, // Long trade volume (USD)\n      \"short_volume_usd\": 841051641.6584, // Short trade volume (USD)\n      \"long_volume_quantity\": 210027, // Number of long trades\n      \"short_volume_quantity\": 218777, // Number of short trades\n\n      \"open_interest_quantity\": 69477.278, // Open interest quantity (contracts)\n      \"open_interest_usd\": 5878785139.331, // Open interest value (USD)\n      \"open_interest_change_percent_24h\": 3.82, // 24h open interest change (%)\n\n      \"long_liquidation_usd_24h\": 1502896.68, // Long liquidations in past 24h (USD)\n      \"short_liquidation_usd_24h\": 1037959.7, // Short liquidations in past 24h (USD)\n\n      \"funding_rate\": 0.0022, // Current funding rate\n\n      \"open_interest_volume_radio\": 3.4349, // Open interest to volume ratio\n      \"oi_vol_ratio_change_percent_24h\": 214.93 // 24h ratio change (%)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/coins-price-change":{"get":{"summary":"Coins Price Change","description":"This API retrieves information about price change percentages and price amplitude percentages for all coins.","operationId":"coins-price-change","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"symbol\": \"BTC\", // Symbol\n      \"current_price\": 84518.4, // Current price\n\n      \"price_change_percent_5m\": -0.04, // 5m change (%)\n      \"price_change_percent_15m\": -0.09, // 15m change (%)\n      \"price_change_percent_30m\": -0.11, // 30m change (%)\n      \"price_change_percent_1h\": -0.17, // 1h change (%)\n      \"price_change_percent_4h\": -0.54, // 4h change (%)\n      \"price_change_percent_12h\": -0.6, // 12h change (%)\n      \"price_change_percent_24h\": 0.24, // 24h change (%)\n\n      \"price_amplitude_percent_5m\": 0.07, // 5m amplitude (%)\n      \"price_amplitude_percent_15m\": 0.16, // 15m amplitude (%)\n      \"price_amplitude_percent_30m\": 0.18, // 30m amplitude (%)\n      \"price_amplitude_percent_1h\": 0.26, // 1h amplitude (%)\n      \"price_amplitude_percent_4h\": 0.63, // 4h amplitude (%)\n      \"price_amplitude_percent_12h\": 1.17, // 12h amplitude (%)\n      \"price_amplitude_percent_24h\": 2.06 // 24h amplitude (%)\n    },\n    {\n      \"symbol\": \"ETH\", // Symbol\n      \"current_price\": 1573.45, // Current price\n\n      \"price_change_percent_5m\": -0.04, // 5m change (%)\n      \"price_change_percent_15m\": -0.34, // 15m change (%)\n      \"price_change_percent_30m\": -0.38, // 30m change (%)\n      \"price_change_percent_1h\": -0.54, // 1h change (%)\n      \"price_change_percent_4h\": -0.77, // 4h change (%)\n      \"price_change_percent_12h\": -1.99, // 12h change (%)\n      \"price_change_percent_24h\": -1.41, // 24h change (%)\n\n      \"price_amplitude_percent_5m\": 0.13, // 5m amplitude (%)\n      \"price_amplitude_percent_15m\": 0.4, // 15m amplitude (%)\n      \"price_amplitude_percent_30m\": 0.47, // 30m amplitude (%)\n      \"price_amplitude_percent_1h\": 0.66, // 1h amplitude (%)\n      \"price_amplitude_percent_4h\": 0.9, // 4h amplitude (%)\n      \"price_amplitude_percent_12h\": 2.74, // 12h amplitude (%)\n      \"price_amplitude_percent_24h\": 3.47 // 24h amplitude (%)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/rsi/list":{"get":{"summary":"RSI List","description":"The API retrieves Relative Strength Index (RSI) values for multiple cryptocurrencies over different timeframes","operationId":"futures-rsi-list","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"symbol\": \"BTC\",                                  // Token symbol, e.g., BTC = Bitcoin\n      \"rsi_15m\": 54.71,                                 // RSI (Relative Strength Index) over 15 minutes\n      \"price_change_percent_15m\": 0.04,                 // Price change percentage over 15 minutes\n      \"rsi_1h\": 71.91,                                  // RSI over 1 hour\n      \"price_change_percent_1h\": -0.23,                 // Price change percentage over 1 hour\n      \"rsi_4h\": 72.12,                                  // RSI over 4 hours\n      \"price_change_percent_4h\": -0.09,                 // Price change percentage over 4 hours\n      \"rsi_12h\": 62.33,                                 // RSI over 12 hours\n      \"price_change_percent_12h\": 2.72,                 // Price change percentage over 12 hours\n      \"rsi_24h\": 57.88,                                 // RSI over 24 hours\n      \"price_change_percent_24h\": 3.4,                  // Price change percentage over 24 hours\n      \"rsi_1w\": 52.04,                                  // RSI over 1 week\n      \"price_change_percent_1w\": 2.6,                   // Price change percentage over 1 week\n      \"current_price\": 87348.6                          // Current market price\n    },\n    {\n      \"symbol\": \"ETH\",                                  // Token symbol, e.g., ETH = Ethereum\n      \"rsi_15m\": 54.35,                                 // RSI over 15 minutes\n      \"price_change_percent_15m\": -0.13,                // Price change percentage over 15 minutes\n      \"rsi_1h\": 67.93,                                  // RSI over 1 hour\n      \"price_change_percent_1h\": -0.26,                 // Price change percentage over 1 hour\n      \"rsi_4h\": 63.6,                                   // RSI over 4 hours\n      \"price_change_percent_4h\": 0.2,                   // Price change percentage over 4 hours\n      \"rsi_12h\": 52.09,                                 // RSI over 12 hours\n      \"price_change_percent_12h\": 3.41,                 // Price change percentage over 12 hours\n      \"rsi_24h\": 45.03,                                 // RSI over 24 hours\n      \"price_change_percent_24h\": 3.27,                 // Price change percentage over 24 hours\n      \"rsi_1w\": 33.31,                                  // RSI over 1 week\n      \"price_change_percent_1w\": 3.45,                  // Price change percentage over 1 week\n      \"current_price\": 1641.36                          // Current market price\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/spot/supported-coins":{"get":{"summary":"Supported Coins","description":"Check the supported coins in this API documentation","operationId":"spot-supported-coins","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/spot/supported-exchange-pairs":{"get":{"summary":"Suported Exchange and Pairs","description":"Check the supported exchange and trading pairs in the API documentation","operationId":"spot-suported-exchange-pairs","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": {\n    \"Binance\": [ // exchange name\n      {\n        \"instrument_id\": \"BTCUSD_USDT\",// Spot pair\n        \"base_asset\": \"BTC\",// base asset\n        \"quote_asset\": \"USDT\"// quote asset\n      },\n      {\n        \"instrument_id\": \"ETHUSD_USDT\",\n        \"base_asset\": \"ETH\",\n        \"quote_asset\": \"USDT\"\n      },\n      ....\n      ],\n    \"Bitget\": [\n      {\n        \"instrument_id\": \"AAVE:USD\",\n        \"base_asset\": \"AAVE\",\n        \"quote_asset\": \"USD\"\n      },\n      {\n        \"instrument_id\": \"ADAUSD\",\n        \"base_asset\": \"ADA\",\n        \"quote_asset\": \"USD\"\n      },\n      ...\n      ]\n      ...\n   }\n}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/spot/coins-markets":{"get":{"summary":"Coins Markets","description":"This API retrieves performance-related information for all available coins","operationId":"spot-coins-markets","parameters":[{"name":"per_page","in":"query","required":false,"description":" Number of results per page.","schema":{"type":"integer","format":"int32","default":"10"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination, default: 1.","schema":{"type":"integer","format":"int32","default":"1"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\", \n  \"msg\": \"success\", \n  \"data\": [\n    {\n      \"symbol\": \"BTC\", // Token symbol, e.g., BTC for Bitcoin\n      \"current_price\": 87500, // Current price in USD\n\n      \"market_cap\": 1735007745495.3037, // Market capitalization in USD\n\n      // Price changes in USD over various time intervals\n      \"price_change_5m\": 101.5, // Price change in last 5 minutes\n      \"price_change_15m\": 46.18, // Price change in last 15 minutes\n      \"price_change_30m\": -77.22, // Price change in last 30 minutes\n      \"price_change_1h\": 12.56, // Price change in last 1 hour\n      \"price_change_4h\": 147.75, // Price change in last 4 hours\n      \"price_change_12h\": 147.75, // Price change in last 12 hours\n      \"price_change_24h\": 2799.99, // Price change in last 24 hours\n      \"price_change_1w\": 2989.69, // Price change in last 1 week\n\n      // Price changes in percentage over various time intervals\n      \"price_change_percent_5m\": 0.12, // % change in last 5 minutes\n      \"price_change_percent_15m\": 0.05, // % change in last 15 minutes\n      \"price_change_percent_30m\": -0.09, // % change in last 30 minutes\n      \"price_change_percent_1h\": 0.01, // % change in last 1 hour\n      \"price_change_percent_4h\": 0.17, // % change in last 4 hours\n      \"price_change_percent_12h\": 0.17, // % change in last 12 hours\n      \"price_change_percent_24h\": 3.31, // % change in last 24 hours\n      \"price_change_percent_1w\": 3.54, // % change in last 1 week\n\n      // Total trading volume in USD over various time intervals\n      \"volume_usd_1h\": 129491564.6994, // Total volume in last 1 hour\n      \"volume_usd_5m\": 11056683.8336, // Total volume in last 5 minutes\n      \"volume_usd_15m\": 50625331.2542, // Total volume in last 15 minutes\n      \"volume_usd_30m\": 80070296.0794, // Total volume in last 30 minutes\n      \"volume_usd_4h\": 580775143.5162, // Total volume in last 4 hours\n      \"volume_usd_12h\": 2663308247.353, // Total volume in last 12 hours\n      \"volume_usd_24h\": 3719093876.3834, // Total volume in last 24 hours\n      \"volume_usd_1w\": 16801739001.0272, // Total volume in last 1 week\n\n      // Trading volume change in USD compared to the previous same interval\n      \"volume_change_usd_1h\": -35317032.6336,\n      \"volume_change_usd_5m\": -110911976.2243,\n      \"volume_change_usd_15m\": -59017725.7105,\n      \"volume_change_usd_30m\": -39864985.2519,\n      \"volume_change_usd_4h\": -1084757627.3629,\n      \"volume_change_usd_12h\": 1624238611.116,\n      \"volume_change_usd_24h\": 1967797576.5416,\n      \"volume_change_usd_1w\": -23396586539.5365,\n\n      // Percentage change in trading volume over various time intervals\n      \"volume_change_percent_1h\": -21.43,\n      \"volume_change_percent_5m\": -90.93,\n      \"volume_change_percent_15m\": -53.83,\n      \"volume_change_percent_30m\": -33.24,\n      \"volume_change_percent_4h\": -65.13,\n      \"volume_change_percent_12h\": 156.32,\n      \"volume_change_percent_24h\": 112.36,\n      \"volume_change_percent_1w\": 3.54,\n\n      // Buy-side trading volume in USD (aggressive buy orders)\n      \"buy_volume_usd_1h\": 55687151.2164,\n      \"buy_volume_usd_5m\": 4634327.6087,\n      \"buy_volume_usd_15m\": 20222399.059,\n      \"buy_volume_usd_30m\": 33140975.4441,\n      \"buy_volume_usd_4h\": 278174843.6339,\n      \"buy_volume_usd_12h\": 1410854413.4688,\n      \"buy_volume_usd_24h\": 1923920264.0666,\n      \"buy_volume_usd_1w\": 8116673333.4846,\n\n      // Sell-side trading volume in USD (aggressive sell orders)\n      \"sell_volume_usd_1h\": 73804413.4829,\n      \"sell_volume_usd_5m\": 6422356.2248,\n      \"sell_volume_usd_15m\": 30402932.1951,\n      \"sell_volume_usd_30m\": 46929320.6352,\n      \"sell_volume_usd_4h\": 302600299.8822,\n      \"sell_volume_usd_12h\": 1252453833.8841,\n      \"sell_volume_usd_24h\": 1795173612.3167,\n      \"sell_volume_usd_1w\": 8685065667.5425,\n\n      // Net flow (buy volume - sell volume), representing market sentiment\n      \"volume_flow_usd_1h\": -18117262.2665,\n      \"volume_flow_usd_5m\": -1788028.6161,\n      \"volume_flow_usd_15m\": -10180533.1361,\n      \"volume_flow_usd_30m\": -13788345.1911,\n      \"volume_flow_usd_4h\": -24425456.2483,\n      \"volume_flow_usd_12h\": 158400579.5847,\n      \"volume_flow_usd_24h\": 128746651.7499,\n      \"volume_flow_usd_1w\": -568392334.0579\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/spot/pairs-markets":{"get":{"summary":"Pairs Markets","description":"This API retrieves performance-related information for all available coins","operationId":"spot-pairs-markets","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC). Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                        \n  \"msg\": \"success\",                      \n  \"data\": [\n    {\n      \"symbol\": \"BTC/USDT\",                // Trading pair\n      \"exchange_name\": \"Binance\",          // Exchange name\n      \"current_price\": 87503.55,           // Current price\n\n      \"price_change_1h\": 99.55,            // Price change in the past 1 hour\n      \"price_change_percent_1h\": 0.11,     // Price change percentage in the past 1 hour\n      \"volume_usd_1h\": 54425251.2426,      // Trading volume in the past 1 hour (USD)\n      \"buy_volume_usd_1h\": 29304086.0661,  // Buy volume in the past 1 hour (USD)\n      \"sell_volume_usd_1h\": 25121165.1759, // Sell volume in the past 1 hour (USD)\n      \"volume_change_usd_1h\": -24851651.918,   // Volume change in the past 1 hour (USD)\n      \"volume_change_percent_1h\": -31.35,  // Volume change percentage in the past 1 hour\n      \"net_flows_usd_1h\": 4182920.8902,    // Net inflow in the past 1 hour (USD)\n\n      \"price_change_4h\": 209.56,           // Price change in the past 4 hours\n      \"price_change_percent_4h\": 0.24,     // Price change percentage in the past 4 hours\n      \"volume_usd_4h\": 264625587.5144,     // Trading volume in the past 4 hours (USD)\n      \"buy_volume_usd_4h\": 137768056.2376, // Buy volume in the past 4 hours (USD)\n      \"sell_volume_usd_4h\": 126857531.2762, // Sell volume in the past 4 hours (USD)\n      \"volume_change_4h\": -526166190.0218, // Volume change in the past 4 hours (USD)\n      \"volume_change_percent_4h\": -66.54,  // Volume change percentage in the past 4 hours\n      \"net_flows_usd_4h\": 10910524.9614,   // Net inflow in the past 4 hours (USD)\n\n      \"price_change_12h\": 2925.55,         // Price change in the past 12 hours\n      \"price_change_percent_12h\": 3.46,    // Price change percentage in the past 12 hours\n      \"volume_usd_12h\": 1212930000.2011,   // Trading volume in the past 12 hours (USD)\n      \"buy_volume_usd_12h\": 662857153.6506, // Buy volume in the past 12 hours (USD)\n      \"sell_volume_usd_12h\": 550072846.5499, // Sell volume in the past 12 hours (USD)\n      \"volume_change_12h\": 842092388.1946, // Volume change in the past 12 hours (USD)\n      \"volume_change_percent_12h\": 227.08, // Volume change percentage in the past 12 hours\n      \"net_flows_usd_12h\": 112784307.1007, // Net inflow in the past 12 hours (USD)\n\n      \"price_change_24h\": 2735.79,         // Price change in the past 24 hours\n      \"price_change_percent_24h\": 3.23,    // Price change percentage in the past 24 hours\n      \"volume_usd_24h\": 1585522232.603,    // Trading volume in the past 24 hours (USD)\n      \"buy_volume_usd_24h\": 843617569.7248, // Buy volume in the past 24 hours (USD)\n      \"sell_volume_usd_24h\": 741904662.8776, // Sell volume in the past 24 hours (USD)\n      \"volume_change_24h\": 873336140.8197, // Volume change in the past 24 hours (USD)\n      \"volume_change_percent_24h\": 122.63, // Volume change percentage in the past 24 hours\n      \"net_flows_usd_24h\": 101712906.8472, // Net inflow in the past 24 hours (USD)\n\n      \"price_change_1w\": 3057.83,          // Price change in the past 1 week\n      \"price_change_percent_1w\": 3.62,     // Price change percentage in the past 1 week\n      \"volume_usd_1w\": 6808077059.7062,    // Trading volume in the past 1 week (USD)\n      \"buy_volume_usd_1w\": 3374037733.8429, // Buy volume in the past 1 week (USD)\n      \"sell_volume_usd_1w\": 3434039325.8627, // Sell volume in the past 1 week (USD)\n      \"volume_change_usd_1w\": -11208235126.1193, // Volume change in the past 1 week (USD)\n      \"volume_change_percent_1w\": -62.21,  // Volume change percentage in the past 1 week\n      \"net_flows_usd_1w\": -60001592.0198   // Net inflow in the past 1 week (USD)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/coinbase-premium-index":{"get":{"summary":"Coinbase Premium Index","description":"This API retrieves the Coinbase Bitcoin Premium Index, indicating the price difference between Bitcoin on Coinbase Pro and Binance","operationId":"coinbase-premium-index","parameters":[{"name":"interval","in":"query","required":true,"description":"Data aggregation time interval. Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w.","schema":{"type":"string","default":"1d"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request. Default: 1000, Maximum: 1000.","schema":{"type":"integer","format":"int32","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n   \"time\": 1658880000,         // Timestamp (in seconds)\n  \"premium\": 5.55,            // Premium amount (USD)\n  \"premium_rate\": 0.0261      // Premium rate (e.g., 0.0261 = 2.61%)\n\n    },\n    {\n    \"time\": 1658880000,         // Timestamp (in seconds)\n  \"premium\": 5.55,            // Premium amount (USD)\n  \"premium_rate\": 0.0261      // Premium rate (e.g., 0.0261 = 2.61%)\n\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/bitfinex-margin-long-short":{"get":{"summary":"Bitfinex Margin Long/Short","description":"This API retrieves data on margin long and short positions from Bitfinex.","operationId":"bitfinex-margin-long-short","parameters":[{"name":"symbol","in":"query","description":"BTC,ETH","required":true,"schema":{"type":"string","default":"BTC"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request. Default: 1000, Maximum: 1000.","schema":{"type":"integer","format":"int32","default":""}},{"name":"interval","in":"query","required":true,"description":"Data aggregation time interval. Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w.","schema":{"type":"string","default":"1d"}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"time\": 1658880000,              // Timestamp, representing the data's corresponding time point\n      \"long_quantity\": 104637.94,       // Long position quantity\n      \"short_quantity\": 2828.53        // Short position quantity\n    },\n    {\n      \"time\": 1658966400,              // Timestamp, representing the data's corresponding time point\n      \"long_quantity\": 105259.46,       // Long position quantity\n      \"short_quantity\": 2847.84        // Short position quantity\n    }\n    // More data entries...\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/exchange/chain/tx/list":{"get":{"summary":"Exchange On-chain Transfers (ERC-20)","description":"The API retrieves on-chain transfer records for exchanges.","operationId":"exchange-onchain-transfers","parameters":[{"name":"symbol","in":"query","required":false,"description":"Must be a token symbol supported by the ERC-20 protocol on the Ethereum (ETH) network.","schema":{"type":"string","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1706089927315).","schema":{"type":"integer","format":"int64","default":1706089927315}},{"name":"min_usd","in":"query","required":false,"description":"Minimum transfer amount filter, specified in USD.","schema":{"type":"number","format":"double","default":""}},{"name":"per_page","in":"query","required":false,"description":"Number of results per page.  Max:100","schema":{"type":"integer","format":"int32","default":"10"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination, default: 1.","schema":{"type":"integer","format":"int32","default":"1"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"transaction_hash\": \"0xb8d08182d2de176ac42dceba9ff82a7a5fe650c1e56285d6810daac9561ff9dc\", // Transaction hash\n      \"asset_symbol\": \"USDT\",                       // Asset symbol\n      \"amount_usd\": 9998.5,                         // Amount in USD\n      \"asset_quantity\": 9998.5,                     // Quantity\n      \"exchange_name\": \"Coinbase\",                 // Exchange name\n      \"transfer_type\": 1,                           // Transfer type: 1 = Inflow, 2 = Outflow, 3 = Internal transfer\n      \"from_address\": \"0x16c6897438c4f0c7894862d884549e8564c4025f\", // From address\n      \"to_address\": \"0xa9d1e08c7793af67e9d92fe308d5697fb81d3e43\",   // To address\n      \"transaction_time\": 1745224211                // Transaction time (timestamp in seconds)\n    },\n    {\n      \"transaction_hash\": \"0x033c56cb05654f2c360235eff99c84f0eee9c6330fc7012930adfe0a88789c0f\", // Transaction hash\n      \"asset_symbol\": \"MANA\",                       // Asset symbol\n      \"amount_usd\": 6368.95196834,                  // Amount in USD\n      \"asset_quantity\": 20091.33113044,             // Quantity\n      \"exchange_name\": \"Binance\",                  // Exchange name\n      \"transfer_type\": 1,                           // Transfer type: 1 = Inflow, 2 = Outflow, 3 = Internal transfer\n      \"from_address\": \"0x06fd4ba7973a0d39a91734bbc35bc2bcaa99e3b0\", // From address\n      \"to_address\": \"0x28c6c06298d514db089934071355e5743bf21d60\",   // To address\n      \"transaction_time\": 1745224211                // Transaction time (timestamp in seconds)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/openInterest/ohlc-history":{"get":{"summary":"OpenInterest OHLC History","description":"This API presents open interest data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"enterprise-openinterest-ohlc-history","parameters":[{"name":"exchange","in":"query","description":"Exchange name  eg. Binance ，OKX （ Check supported exchanges through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbols","in":"query","description":"Trading pair eg. BTCUSDT   （ Check supported pair through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","description":"1m, 5m","required":true,"schema":{"type":"string","default":"1m"}},{"name":"limit","in":"query","description":"Max 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"t\": 1636588800,\n      \"o\": \"57158.76\",\n      \"h\": \"57158.76\",\n      \"l\": \"54806.62\",\n      \"c\": \"54806.62\"\n    },\n    {\n      \"t\": 1636675200,\n      \"o\": \"55066.61\",\n      \"h\": \"60225.98\",\n      \"l\": \"55066.61\",\n      \"c\": \"57761.73\"\n    }.."}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/fundingRate/ohlc-history":{"get":{"summary":"FundingRate OHLC History","description":"This API presents open interest data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"enterprise-fundingrate-ohlc-history","parameters":[{"name":"exchange","in":"query","description":"Exchange name  eg. Binance ，OKX （ Check supported exchanges through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbols","in":"query","description":"Trading pair eg. BTCUSDT   （ Check supported pair through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","description":"1m, 5m","required":true,"schema":{"type":"string","default":"1m"}},{"name":"limit","in":"query","description":"Max 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"t\": 1636588800,\n      \"o\": \"57158.76\",\n      \"h\": \"57158.76\",\n      \"l\": \"54806.62\",\n      \"c\": \"54806.62\"\n    },\n    {\n      \"t\": 1636675200,\n      \"o\": \"55066.61\",\n      \"h\": \"60225.98\",\n      \"l\": \"55066.61\",\n      \"c\": \"57761.73\"\n    }.."}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/liquidation/v3/aggregated-history":{"get":{"summary":"Liquidation History","description":"This API presents open interest data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"enterprise-liquidation-history","parameters":[{"name":"exchanges","in":"query","description":"Exchange name  eg. Binance ，OKX （ Check supported exchanges through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbols","in":"query","description":"Trading pair eg. BTC","required":true,"schema":{"type":"string","default":"BTC"}},{"name":"interval","in":"query","description":"1m, 5m","required":true,"schema":{"type":"string","default":"1m"}},{"name":"limit","in":"query","description":"Max 100","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"t\": 1636588800,\n      \"o\": \"57158.76\",\n      \"h\": \"57158.76\",\n      \"l\": \"54806.62\",\n      \"c\": \"54806.62\"\n    },\n    {\n      \"t\": 1636675200,\n      \"o\": \"55066.61\",\n      \"h\": \"60225.98\",\n      \"l\": \"55066.61\",\n      \"c\": \"57761.73\"\n    }.."}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/liquidation/model2/heatmap":{"get":{"summary":"Liquidation Heatmap Model2 (Enterprise)","description":"This API presents liquidation levels on the chart, calculated from market data and various leverage amounts.","operationId":"enterprise-liquidation-heatmap-model2","parameters":[{"name":"exchange","in":"query","description":"eg.  Binance,Okx,Crypto.com,Dydx,Bitget,Bybit,Bingx,Bitmex,Bitfinex,Deribit,Coinex,Kraken,Htx","schema":{"type":"string"}},{"name":"symbol","in":"query","description":"Trading pair eg. BTCUSDT （ Check supported pair through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"startTime","in":"query","description":"The earliest timestamp is: 1654012800","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"eg. 1727171272","required":true,"schema":{"type":"integer","format":"int64","default":1727171272}},{"name":"limit","in":"query","description":"<=288","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/liquidation/model3/heatmap":{"get":{"summary":"Liquidation Heatmap Model3 (Enterprise)","description":"This API presents liquidation levels on the chart, calculated from market data and various leverage amounts.","operationId":"enterprise-liquidation-heatmap-model3","parameters":[{"name":"exchange","in":"query","description":"eg.  Binance,Okx,Crypto.com,Dydx,Bitget,Bybit,Bingx,Bitmex,Bitfinex,Deribit,Coinex,Kraken,Htx","schema":{"type":"string"}},{"name":"symbol","in":"query","description":"Trading pair eg. BTCUSDT （ Check supported pair through the 'support-exchange-pair' API.）","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"startTime","in":"query","description":"The earliest timestamp is: 1654012800","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"eg. 1727171272","required":true,"schema":{"type":"integer","format":"int64","default":1727171272}},{"name":"limit","in":"query","description":"<=288","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/liquidation/model2/aggregate-heatmap":{"get":{"summary":"Liquidation Aggregated Heatmap Model2 (Enterprise)","description":"This API presents aggregated liquidation levels on the chart, calculated from market data and various leverage amounts.","operationId":"enterprise-liquidation-aggregated-heatmap-model2","parameters":[{"name":"symbol","in":"query","description":"Trading coin eg. BTC   （ Check supported coin through the 'support-coins' API.）","required":true,"schema":{"type":"string","default":"BTC"}},{"name":"startTime","in":"query","description":"The earliest timestamp is: 1654012800","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"eg.  1727171272","schema":{"type":"integer","format":"int64","default":1727171272}},{"name":"limit","in":"query","description":"<=288","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/enterprise/futures/liquidation/model3/aggregated-heatmap":{"get":{"summary":"Liquidation Aggregated Heatmap Model3 (Enterprise)","description":"This API presents aggregated liquidation levels on the chart, calculated from market data and various leverage amounts.","operationId":"enterprise-liquidation-aggregated-heatmap-model3","parameters":[{"name":"symbol","in":"query","description":"Trading coin eg. BTC   （ Check supported coin through the 'support-coins' API.）","required":true,"schema":{"type":"string","default":"BTC"}},{"name":"startTime","in":"query","description":"The earliest timestamp is: 1654012800","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"eg.  1727171272","schema":{"type":"integer","format":"int64","default":1727171272}},{"name":"limit","in":"query","description":"<=288","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/bull-market-peak-indicator":{"get":{"summary":"Bull Market Peak Indicators","description":"","operationId":"bull-market-peak-indicator","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""},"New Example":{"summary":"New Example","value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"indicator_name\": \"Bitcoin Ahr999 Index\",  // Indicator name\n      \"current_value\": \"0.78\",                  // Current value\n      \"target_value\": \"4\",                      // Target value\n      \"previous_value\": \"0.77\",                 // Previous value\n      \"change_value\": \"0.0009811160359081\",     // Change value\n      \"comparison_type\": \">=\",                  // Comparison type\n      \"hit_status\": false                       // Hit status (whether the target condition is met)\n    },\n    {\n      \"indicator_name\": \"Pi Cycle Top Indicator\",  // Indicator name\n      \"current_value\": \"85073.0\",                  // Current value\n      \"target_value\": \"154582\",                    // Target value\n      \"previous_value\": \"85127.0\",                 // Previous value\n      \"change_value\": \"-54.0\",                     // Change value\n      \"comparison_type\": \">=\",                     // Comparison type\n      \"hit_status\": false                          // Hit status (whether the target condition is met)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/ahr999":{"get":{"summary":"AHR999","description":"","operationId":"ahr999","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"date_string\": \"2011/02/01\",            // Date in string format (YYYY/MM/DD)\n      \"average_price\": 0.1365,                // Average price on the given date\n      \"ahr999_value\": 4.441692296429609,      // AHR999 index value\n      \"current_value\": 0.626                  // Current value on the given date\n    },\n    {\n      \"date_string\": \"2011/02/02\",            // Date in string format (YYYY/MM/DD)\n      \"average_price\": 0.1383,                // Average price on the given date\n      \"ahr999_value\": 5.642181244439729,      // AHR999 index value\n      \"current_value\": 0.713                  // Current value on the given date\n    }\n    // More data entries...\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/puell-multiple":{"get":{"summary":"Puell-Multiple","description":"","operationId":"puell-multiple","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                              \n  \"msg\": \"success\",                        \n  \"data\": [\n    {\n      \"timestamp\": 1282003200000,           // Timestamp (in milliseconds)\n      \"price\": 0.07,                         // Price on the given day\n      \"puell_multiple\": 1                   // Puell Multiple value\n    },\n    {\n      \"timestamp\": 1282089600000,           // Timestamp (in milliseconds)\n      \"price\": 0.068,                        // Price on the given day\n      \"puell_multiple\": 1.0007745933384973  // Puell Multiple value\n    }\n    ...\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/stock-flow":{"get":{"summary":"Stock-to-Flow Model","description":"","operationId":"stock-flow","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"timestamp\": 1282003200000,       // Timestamp (in milliseconds)\n      \"price\": 0.07,                     // Price on the given day\n      \"next_halving\": 834               // Days remaining until the next halving\n    },\n    {\n      \"timestamp\": 1282089600000,       // Timestamp (in milliseconds)\n      \"price\": 0.068,                    // Price on the given day\n      \"next_halving\": 833               // Days remaining until the next halving\n    }\n\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/golden-ratio-multiplier":{"get":{"summary":"Golden-Ratio-Multiplier","description":"","operationId":"golden-ratio-multiplier","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"low_bull_high_2\": 0.14,                       // Bull market low-high ratio coefficient\n      \"timestamp\": 1282003200000,                    // Timestamp (in milliseconds)\n      \"price\": 0.07,                                 // Current price\n      \"ma_350\": 0.07,                                // 350-day moving average\n      \"accumulation_high_1_6\": 0.11200000000000002,  // Accumulation high ratio (1/6 golden ratio)\n      \"x_3\": 0.21000000000000002,                    // Golden ratio multiple x3\n      \"x_5\": 0.35000000000000003,                    // Golden ratio multiple x5\n      \"x_8\": 0.56,                                   // Golden ratio multiple x8\n      \"x_13\": 0.9100000000000001,                    // Golden ratio multiple x13\n      \"x_21\": 1.4700000000000002                     // Golden ratio multiple x21\n    },\n    ...\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/fear-greed-history":{"get":{"summary":"Crypto Fear & Greed Index","description":"","operationId":"cryptofear-greedindex","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                             \n  \"msg\": \"success\",                        \n  \"data\": [\n    {\n      \"data_list\": [4611285.1141, ...],         // Fear and Greed Index values\n      \"price_list\": [4788636.51145, ...],         // Corresponding price data\n      \"time_list\": [1636588800, ...]        // Timestamps\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/index/stableCoin-marketCap-history":{"get":{"summary":"StableCoin MarketCap History","description":"","operationId":"stablecoin-marketcap-history","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                             \n  \"msg\": \"success\",                        \n  \"data\": [\n    {\n      \"data_list\": [4611285.1141, ...],         // List of values\n      \"price_list\": [, ...],                    // List of prices\n      \"time_list\": [1636588800, ...]            // List of timestamps\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/grayscale/holdings-list":{"get":{"summary":"Holdings List","description":"The API retrieves a list of holdings managed by Grayscale Investments.","operationId":"grayscale-holding-list","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"symbol\": \"ETH\",                                  // Token symbol, e.g., ETH = Ethereum\n      \"primary_market_price\": 29.89,                    // Price in the primary market \n      \"secondary_market_price\": 29.71,                  // Price in the secondary market \n      \"premium_rate\": -0.6,                             // Premium rate (%),\n      \"holdings_amount\": 2630007.61026,                 // Current holding amount (in tokens)\n      \"holdings_usd\": 4290752215.8347797,               // Total market value of holdings in USD\n      \"holdings_amount_change_30d\": 0,                  // Change in holding amount over the past 30 days (in tokens)\n      \"holdings_amount_change_7d\": 0,                   // Change in holding amount over the past 7 days (in tokens)\n      \"holdings_amount_change1d\": 0,                    // Change in holding amount over the past 1 day (in tokens)\n      \"close_time\": 1721422800000,                      // Market close timestamp (milliseconds)\n      \"update_time\": 1745203812007                      // Data update timestamp (milliseconds)\n    },\n    {\n      \"symbol\": \"ETC\",                                  // Token symbol, e.g., ETC = Ethereum Classic\n      \"primary_market_price\": 11.99,                    // Price in the primary market\n      \"secondary_market_price\": 6.63,                   // Price in the secondary market\n      \"premium_rate\": -44.7,                            // Premium rate, currently at a significant discount\n      \"holdings_amount\": 11181376.733556,               // Current holding amount (in tokens)\n      \"holdings_usd\": 181440200.2554132,                // Total market value of holdings in USD\n      \"holdings_amount_change_30d\": -20697.669828,      // Change in holding amount over the past 30 days\n      \"holdings_amount_change_7d\": -4596.123672,        // Change in holding amount over the past 7 days\n      \"holdings_amount_change1d\": 0,                    // Change in holding amount over the past 1 day\n      \"close_time\": 1744923600000,                      // Market close timestamp\n      \"update_time\": 1745203812168                      // Data update timestamp\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/grayscale/premium-history":{"get":{"summary":"Premium History","description":"The API retrieves historical premium/discount data for Grayscale Investment Trusts relative to their NAV.","operationId":"grayscale-premium-history","parameters":[{"name":"symbol","in":"query","required":true,"description":"Supported values: ETC, LTC, BCH, SOL, XLM, LINK, ZEC, MANA, ZEN, FIL, BAT, LPT","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n     {\n      \"primary_market_price\": [     // Primary market price list\n        0.14,\n        0.14\n        // ...\n      ],\n      \"date_list\": [                // Date list (timestamps)\n        1380171600000,\n        1380258000000\n        // ...\n      ],\n      \"secondary_market_price_list\": [  // Secondary market price list\n        0.57,\n        0.53\n        // ...\n      ],\n      \"premium_rate_list\": [          // Premium rate list\n        19.37,\n        15.59\n        // ...\n      ]\n    },\n      ....\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/exchange/balance/chart":{"get":{"summary":"Exchange Balance Chart","description":"","operationId":"exchange-balance-chart","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin eg. BTC, ETH","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                                 \n  \"msg\": \"success\",                            \n  \"data\": [\n    {\n      \"time_list\": [1691460000000, ...],       // Array of timestamps (in milliseconds)\n      \"price_list\": [29140.9, ...],            // Array of prices corresponding to each timestamp\n      \"data_map\": {                            // Balance data by exchange\n        \"huobi\": [15167.03527, ...],           // Balance data from Huobi exchange\n        \"gate\": [23412.723, ...],              // Balance data from Gate exchange\n        ...\n      }\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/option/max-pain":{"get":{"summary":"Option Max Pain","description":"","operationId":"option-max-pain","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC,ETH). ","schema":{"type":"string","default":"BTC"}},{"name":"exchange","in":"query","required":true,"description":"Exchange name (e.g., Deribit, Binance, OKX). ","schema":{"type":"string","default":"Deribit"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"date\": \"250422\",                                   // Date (YYMMDD format)\n      \"call_open_interest_market_value\": 1616749.22,      // Call option market value (USD)\n      \"put_open_interest\": 512.5,                         // Put option open interest (contracts)\n      \"put_open_interest_market_value\": 49687.62,         // Put option market value (USD)\n      \"max_pain_price\": \"84000\",                          // Max pain price\n      \"call_open_interest\": 953.7,                        // Call option open interest (contracts)\n      \"call_open_interest_notional\": 83519113.56,         // Call option notional value (USD)\n      \"put_open_interest_notional\": 44881569.13           // Put option notional value (USD)\n    },\n    {\n      \"date\": \"250423\",                                   // Date (YYMMDD format)\n      \"call_open_interest_market_value\": 2274700.52,      // Call option market value (USD)\n      \"put_open_interest\": 1204.3,                        // Put option open interest (contracts)\n      \"put_open_interest_market_value\": 374536.01,        // Put option market value (USD)\n      \"max_pain_price\": \"85000\",                          // Max pain price\n      \"call_open_interest\": 1302.2,                       // Call option open interest (contracts)\n      \"call_open_interest_notional\": 114040373.53,        // Call option notional value (USD)\n      \"put_open_interest_notional\": 105465691.73          // Put option notional value (USD)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/option/info":{"get":{"summary":"Info","description":"","operationId":"info","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC,ETH). ","schema":{"type":"string","default":"BTC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"exchange_name\": \"All\",                           // Exchange name\n      \"open_interest\": 361038.78,                       // Open interest (contracts)\n      \"oi_market_share\": 100,                           // Market share (%)\n      \"open_interest_change_24h\": 2.72,                 // 24h open interest change (%)\n      \"open_interest_usd\": 31623069708.138245,          // Open interest value (USD)\n      \"volume_usd_24h\": 2764676957.0569425,             // 24h trading volume (USD)\n      \"volume_change_percent_24h\": 303.1                // 24h volume change (%)\n    },\n    {\n      \"exchange_name\": \"Deribit\",                       // Exchange name\n      \"open_interest\": 262641.9,                        // Open interest (contracts)\n      \"oi_market_share\": 72.74,                         // Market share (%)\n      \"open_interest_change_24h\": 2.57,                 // 24h open interest change (%)\n      \"open_interest_usd\": 23005403973.349,             // Open interest value (USD)\n      \"volume_usd_24h\": 2080336672.709                  // 24h trading volume (USD)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/option/exchange-vol-history":{"get":{"summary":"Exchange Volume History","description":"","operationId":"exchange-volume-history","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC,ETH). ","schema":{"type":"string","default":"BTC"}},{"name":"unit","in":"query","required":true,"description":"Specify the unit for the returned data. Supported values depend on the symbol. If symbol is BTC, choose between USD or BTC. For ETH, choose between USD or ETH.","schema":{"type":"string","default":"USD"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",                                \n  \"msg\": \"success\",                            \n  \"data\": [\n    {\n      \"time_list\": [1691460000000, ...],       // Array of timestamps (in milliseconds)\n      \"price_list\": [29140.9, ...],            // Array of prices corresponding to each timestamp\n      \"data_map\": {                            // Volume data by exchange\n        \"huobi\": [15167.03527, ...],           // Volume data from Huobi exchange\n        \"gate\": [23412.723, ...],              // Volume data from Gate exchange\n        ...\n      }\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/large-orders":{"get":{"summary":"大额成交","description":"","operationId":"large-order","parameters":[{"name":"exchanges","in":"query","description":"交易所名称","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","description":"币种","required":true,"schema":{"type":"string","default":"BTC"}},{"name":"type","in":"query","description":"futures or spot","required":true,"schema":{"type":"string","default":"futures"}},{"name":"startTime","in":"query","description":"毫秒","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"毫秒","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"max 1000","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/orderbook/large-limit-order-":{"get":{"summary":"当前未完成大额委托","description":"The API retrieves large open orders from the current order book for futures trading.","operationId":"large-orderbook-copy2","parameters":[{"name":"exName","in":"query","description":"Futures Exchange(Binance,OKX)  Spot Exchange(Binance,OKX,Coinbase,Bitfinex,Karan)","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","description":"BTCUSDT","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"type","in":"query","description":"futures or spot","required":true,"schema":{"type":"string","default":"futures"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/orderbook/large-limit-order-history-":{"get":{"summary":"大额委托历史","description":"The API retrieves large open orders from the current order book for futures trading.","operationId":"large-limit-order-history-2","parameters":[{"name":"exName","in":"query","description":"Futures Exchange(Binance,OKX)  Spot Exchange(Binance,OKX,Coinbase,Bitfinex,Karan)","required":true,"schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","description":"BTCUSDT","required":true,"schema":{"type":"string","default":"BTCUSDT"}},{"name":"type","in":"query","description":"futures or spot","required":true,"schema":{"type":"string","default":"futures"}},{"name":"state","in":"query","description":"2-已完成 3已撤销","schema":{"type":"integer","format":"int32","default":2}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32","default":1000}},{"name":"startTime","in":"query","description":"开始时间 单位 秒","schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","description":"结束时间 单位 秒","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/basis/history":{"get":{"description":"","operationId":"get_apifuturesbasishistory","responses":{"200":{"description":"","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"time\": 1741629600000,            // Timestamp (in milliseconds)\n      \"open_basis\": 0.0504,             // Opening basis (%) - the basis at the start of the interval\n      \"close_basis\": 0.0445,            // Closing basis (%) - the basis at the end of the interval\n      \"open_change\": 39.5,              // Percentage change in basis at opening compared to previous period\n      \"close_change\": 34.56             // Percentage change in basis at closing compared to previous period\n    },\n    {\n      \"time\": 1741633200000,            // Timestamp (in milliseconds)\n      \"open_basis\": 0.0446,             // Opening basis (%)\n      \"close_basis\": 0.03,              // Closing basis (%)\n      \"open_change\": 34.65,             // Opening basis change (%)\n      \"close_change\": 23.74             // Closing basis change (%)\n    }\n  ]\n}\n"}}}}}},"parameters":[{"name":"exchange","in":"query","required":true,"description":"Futures exchange names (e.g., Binance, OKX) .Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","required":true,"description":"Trading pair (e.g., BTCUSDT). Retrieve supported pairs via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","required":true,"description":"Data aggregation time interval. Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w.","schema":{"type":"string","default":"1h"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request. Default: 1000, Maximum: 1000.","schema":{"type":"string","default":"10"}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"string","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"string","default":""}}],"security":[{"sec0":[]}]}},"/api/exchange/assets":{"get":{"description":"","operationId":"get_apiexchangeassets","responses":{"200":{"description":"","content":{"application/json":{"examples":{"New Example":{"summary":"New Example","value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"wallet_address\": \"34xp4vRoCGJym3xR7yCVPFHoCNxv4Twseo\",\n      \"balance\": 248597.54,\n      \"balance_usd\": 21757721869.92,\n      \"symbol\": \"BTC\",\n      \"assets_name\": \"Bitcoin\",\n      \"price\": 87521.87117346626\n    },\n    {\n      \"wallet_address\": \"3M219KR5vEneNb47ewrPfWyb5jQ2DjxRP6\",\n      \"balance\": 139456.08,\n      \"balance_usd\": 12205457068.12,\n      \"symbol\": \"BTC\",\n      \"assets_name\": \"Bitcoin\",\n      \"price\": 87521.87117346626\n    },"}}}}}},"parameters":[{"name":"exchange","in":"query","required":true,"description":"Exchange name (e.g., Binance). Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"per_page","in":"query","required":false,"description":"Number of results per page.","schema":{"type":"string","default":"10"}},{"name":"page","in":"query","required":false,"description":"Page number for pagination, default: 1","schema":{"type":"string","default":"1"}}]}},"/api/futures/open-interest/aggregated-history":{"get":{"summary":"OHLC Aggregated History","description":"This API presents aggregated open interest data using OHLC (Open, High, Low, Close) candlestick charts.","operationId":"oi-ohlc-aggregated-history","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC).  Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"interval","in":"query","required":true,"description":"Time interval for data aggregation.  Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","schema":{"type":"string","default":"1d"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request.  Default: 1000, Maximum: 1000","schema":{"type":"integer","format":"int32","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"unit","in":"query","required":false,"description":"Unit for the returned data, choose between 'usd' or 'coin'.","schema":{"type":"string","default":"usd"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"time\": 2644845344000, // Timestamp (ms)\n      \"open\": \"2644845344\",   // Open interest at interval start\n      \"high\": \"2692643311\",   // Highest open interest during interval\n      \"low\": \"2576975597\",    // Lowest open interest during interval\n      \"close\": \"2608846475\"   // Open interest at interval end\n    },\n    {\n      \"time\": 2608846475000, // Timestamp (ms)\n      \"open\": \"2608846475\",  // Open interest at interval start\n      \"high\": \"2620807645\",  // Highest open interest during interval\n      \"low\": \"2327236202\",   // Lowest open interest during interval\n      \"close\": \"2340177420\"  // Open interest at interval end\n    },\n    ....\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/open-interest/exchange-history-chart":{"get":{"summary":"Exchange History Chart","description":"This API retrieves historical open interest data for a cryptocurrency from exchanges, and the data is formatted for chart presentation.","operationId":"oi-exchange-history-chart","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC).  Check supported coins through the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"range","in":"query","required":true,"description":"Time range for the data (e.g., all, 1m, 15m, 1h, 4h, 12h).","schema":{"type":"string","default":"12h"}},{"name":"unit","in":"query","required":false,"description":"Unit for the returned data, choose between 'usd' or 'coin'.","schema":{"type":"string","default":"usd"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": {\n    \"time_list\": [1721649600000, ...], // List of timestamps (in milliseconds)\n    \"price_list\": [67490.3, ...], // List of prices corresponding to each timestamp\n\n    \"data_map\": { // Open interest data of futures from each exchange\n      \"Binance\": [8018229234, ...], // Binance open interest (corresponds to time_list)\n      \"Bitmex\": [395160842, ...] // BitMEX open interest (corresponds to time_list)\n      // ...\n    }\n  }\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/funding-rate/history":{"get":{"summary":"OHLC History","description":"This API presents funding rate data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"fr-ohlc-histroy","parameters":[{"name":"exchange","in":"query","required":true,"description":"Futures exchange names (e.g., Binance, OKX) .Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","required":true,"description":"Trading pair (e.g., BTCUSDT). Retrieve supported pairs via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","required":true,"description":"Time interval for data aggregation.  Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","schema":{"type":"string","default":"1d"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request.  Default: 1000, Maximum: 1000","schema":{"type":"integer","format":"int32","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"time\": 1658880000000, // Timestamp (milliseconds)\n      \"open\": \"0.004603\",     // Opening funding rate\n      \"high\": \"0.009388\",     // Highest funding rate\n      \"low\": \"-0.005063\",     // Lowest funding rate\n      \"close\": \"0.009229\"     // Closing funding rate\n    },\n    {\n      \"time\": 1658966400000, // Timestamp (milliseconds)\n      \"open\": \"0.009229\",     // Opening funding rate\n      \"high\": \"0.01\",         // Highest funding rate\n      \"low\": \"0.007794\",      // Lowest funding rate\n      \"close\": \"0.01\"         // Closing funding rate\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/funding-rate/oi-weight-history":{"get":{"summary":"OI Weight OHLC History","description":"This API presents open interest-weight data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"oi-weight-ohlc-history","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC). Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"interval","in":"query","required":true,"description":"Time interval for data aggregation. Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","schema":{"type":"string","default":"1d"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request. Default: 1000, Maximum: 1000","schema":{"type":"integer","format":"int32","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in seconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in seconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"time\": 1658880000000, // Timestamp (milliseconds)\n      \"open\": \"0.004603\",     // Opening funding rate\n      \"high\": \"0.009388\",     // Highest funding rate\n      \"low\": \"-0.005063\",     // Lowest funding rate\n      \"close\": \"0.009229\"     // Closing funding rate\n    },\n    {\n      \"time\": 1658966400000, // Timestamp (milliseconds)\n      \"open\": \"0.009229\",     // Opening funding rate\n      \"high\": \"0.01\",         // Highest funding rate\n      \"low\": \"0.007794\",      // Lowest funding rate\n      \"close\": \"0.01\"         // Closing funding rate\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/funding-rate/vol-weight-history":{"get":{"summary":"Vol Weight OHLC History","description":"This API presents volume-weight data through OHLC (Open, High, Low, Close) candlestick charts.","operationId":"vol-weight-ohlc-history","parameters":[{"name":"symbol","in":"query","required":true,"description":"Trading coin (e.g., BTC). Retrieve supported coins via the 'supported-coins' API.","schema":{"type":"string","default":"BTC"}},{"name":"interval","in":"query","required":true,"description":"Time interval for data aggregation. Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","schema":{"type":"string","default":"1d"}},{"name":"limit","in":"query","required":false,"description":"Number of results per request. Default: 1000, Maximum: 1000","schema":{"type":"integer","format":"int32","default":""}},{"name":"start_time","in":"query","required":false,"description":"Start timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}},{"name":"end_time","in":"query","required":false,"description":"End timestamp in milliseconds (e.g., 1641522717000).","schema":{"type":"integer","format":"int64","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/funding-rate/arbitrage":{"get":{"summary":"Arbitrage","description":"","operationId":"fr-arbitrage","parameters":[{"name":"usd","in":"query","required":true,"description":"Investment principal for arbitrage (e.g., 10000).","schema":{"type":"integer","format":"int64","default":10000}},{"in":"query","name":"exchange_list","schema":{"type":"string"},"description":"List of exchange names to retrieve data from (e.g.,  'Binance,OKX,Bybit')"}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"code\": \"0\",\n  \"msg\": \"success\",\n  \"data\": [\n    {\n      \"symbol\": \"SUPRA\", // Token symbol\n      \"buy\": { // Suggested long platform (lower funding rate)\n        \"exchange\": \"MEXC\", // Exchange name\n        \"open_interest_usd\": 848218.2833, // Open interest in USD on the exchange\n        \"funding_rate_interval\": 4, // Funding rate interval (hours)\n        \"funding_rate\": -0.994 // Current funding rate (%)\n      },\n      \"sell\": { // Suggested short platform (higher funding rate)\n        \"exchange\": \"Gate.io\", // Exchange name\n        \"open_interest_usd\": 448263.5072, // Open interest in USD on the exchange\n        \"funding_rate_interval\": 4, // Funding rate interval (hours)\n        \"funding_rate\": 0.005 // Current funding rate (%)\n      },\n      \"apr\": 2187.81, // Annual Percentage Rate (APR, %)\n      \"funding\": 0.999, // Funding rate difference (between long and short)\n      \"fee\": 0.03, // Total trading fee (both sides)\n      \"spread\": -0.09, // Price spread between platforms (%)\n      \"next_funding_time\": 1745222400000 // Next funding settlement time (timestamp in milliseconds)\n    }\n  ]\n}\n"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/api/futures/global-long-short-account-ratio/history":{"get":{"summary":"Global Account Ratio","description":"This API retrieves the long/short account ratio for trading pairs on an exchange","operationId":"global-longshort-account-ratio","parameters":[{"name":"exchange","in":"query","required":true,"description":"Futures exchange names (e.g., Binance, OKX) .Retrieve supported exchanges via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"Binance"}},{"name":"symbol","in":"query","required":true,"description":"Trading pair (e.g., BTCUSDT). Retrieve supported pairs via the 'supported-exchange-pair' API.","schema":{"type":"string","default":"BTCUSDT"}},{"name":"interval","in":"query","required":true,"description":"Time interval for data aggregation.  Supported values: 1m, 3m, 5m, 15m, 30m, 1h, 4h, 6h, 8h, 12h, 1d, 1w","schema":{"type":"string","default":"h1"}},{"name":"limit","in":"query","required":false,"description":"Number of res
[...]
